@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.float {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  display: none;
}

.float-hidden {
  right: -160px;
}

.float-show {
  right: 10px;
}

.my-float {
  margin-top: 22px;
}

#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
}

.filter-group {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 90px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  color: #fff;
}

.filter-group input[type="checkbox"]:checked+label:before {
  content: "✔";
  margin-right: 5px;
}

.filter-group input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  color: darkgrey;
  background-color: #f6f6f4;
  float: right;
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  content: "✔";
  margin-right: 5px;
}

input[type="checkbox"]:checked+label {
  float: right;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

input.martes[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #ef476f;
}

input.miercoles[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #ffd166;
}

input.jueves[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #06d6a0;
}

input.viernes[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #118ab2;
}

input.sabado[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #073b4c;
}

input.domingo[type="checkbox"]:checked+label {
  font-style: normal;
  background-color: #9d4edd;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.popUpTitle {
  text-align: center;
}

/*prueba*/

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .filter-group {
    display: none;
  }

  .float {
    display: block;
  }
}

/*
Tengo que en la media query ponerle right -160

y que aparezca el icono como boton y en el evento onclick le cambio el right a 10px de nuevo
*/